.tambah a{
    float: right;
    margin: 10px 28px -10px 0;
}


.card{
    border-radius: 15px;
}

.card-tengah{
    background: rgb(110,203,188);
    background: radial-gradient(circle, rgba(110,203,188,1) 0%, rgba(10,133,3,1) 100%);
    height: 200px;
    border-radius: 0 0 15px 15px;
    /* margin-top: 20px; */
}

.saldo{
    text-align: center;
    padding-top: 8%;
}

.saldo h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}